/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #d9dcd6;
}

/* Header Styling */
.header {
    padding: 20px; /* Padding around the header and nav elements */
    background-color: #ffee00;
    color: #000000;
}

.header h1 {
    display: inline-block; /* shows everythin in line in a block */
    font-size: 48px;
}


/* Nav element in header class */
.header nav {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}


/* Combined with .header nav ul */
.header nav ul li { 
    display: inline-block; /* shows everythin in line in a block */
    margin-left: 25px; /* changes spaces between nav items */
}

/* Navigation Bar Styling */
a {
    color: #000000;
    text-decoration: none;
}

/* Paragraph Font Size */
p {
    font-size: 16px;
}

.left-section{

}

.right-section{
    margin-left: 500px;
}

.right-section h3{
margin: 50px 0 50px 20px; /* margin around h3 in the section to the right */
}

h2{

}

#about-me-right{
    border-left:5px solid black;
}

#work-right{
    border-left:5px solid black;
}

#contact-me-right{
    border-left:5px solid black;
}

#resume-right{
    border-left:5px solid black;
}

.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid;
}

#about-me{
    display: flex;
    flex-direction: row;
}

#work{
    display: flex;
    flex-direction: row;
}

#resume{
    display: flex;
    flex-direction: row;
}

#contact-me{
    display: flex;
    flex-direction: row;
}

/* centers h2 on the left */
#about-me h2{ 
    margin: auto;
    
}

/* @media(max-width:768px){
    .header h1 { font-size: 40px;}
    .header { display: flex; align-items: center; padding: 15px;}
    .header nav { padding-top: 0; margin-left: auto;}
    .header nav a{font-size: 18px;}
    .header nav ul li:first-child{ margin-left: 0;}
} */