/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: white;
}

/* Makes the avatar rounded */
.avatar{ 
    border-radius: 30%;
    vertical-align: bottom;
    height: 65px;
}


/* Header Styling */
.header {
    padding: 20px; /* Padding around the header and nav elements */
    background-color: white;
    color: #000000;
    display: flex;
    align-items: center;
    
}


/* Nav element in header class */
.header nav {
    margin-right: 20px;
    font-size: 20px;
    margin-left: auto;
    
}

/* Top-Left part of the website*/
.header .logo { 
    flex-wrap: nowrap;
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

/* The header on the top-left part of the website */
.header .logo h1 { 
    margin-left: 10px;
    font-size: 48px;
}



/* Combined with .header nav ul */
.header nav ul li { 
    display: inline-block; /* shows everything in line in a block */
    margin-left: 25px; /* changes spaces between nav items */
    
}

/* Banner */
#banner{
    margin-bottom:30px;
    height: 50vh;
    width: 100%;
    background: url('../images/banner.jpg') no-repeat center;
    background-size: cover;
}

/* Navigation Bar Styling */
a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

/* Paragraph Font Size */
p {
    font-size: 16px;
}

#about-me-right{ /* Right Side of the About Me */
    border-left:5px solid black;
    text-align: left;
    display: flex;
    align-items: center;
}

#work-right{ /* Right Side of the Work */
    border-left:5px solid black;
    text-align: left;
    display: flex;
    align-items: center;
}

#contact-me-right{ /* Right Side of the Contact Me */
    border-left:5px solid black;
    text-align: left;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.img-center{ /* Image in the center */
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid;
    width: 100%;
    display: flex;
    position: relative;
    transition: .3s ease;
}

/* All images */
img {  
    max-width: 100%; 
    max-height: 100%;
    width: -webkit-fill-available;/* Fill the available width with images */
}

/* Hovering state on the bigger image */
.img-center:hover {
    box-shadow: inset 0px 0px 8px rgba(37, 37, 37, 1), 0 0 15px rgba(37, 37, 37, 1);
    /* backdrop-filter: blur(10px);
        filter: blur(3px);
        transition: 0.3s ease-in-out; */
}

/* Styling for smaller images */
.small-frame { 
    display: flex; 
    flex-wrap: wrap; 
    margin: 0 -15px; 
    padding-top: 30px; 
    width: fit-content;
}

.img-small{
    width: 50%;
    padding: 15px;;
    object-fit: cover;
    transition: .3s ease;
}

.img-small.img-center { 
    border:0;
}

.img-small.img-center:hover {
    box-shadow: none;
}

.img-small img {
    border: 5px solid #000;
}

/* Overlay text styling */
.img-small .text-overlay-main { 
    left:15px; bottom: 30px;
}

/* Styling when hovered over smaller images*/
.img-small:hover img{
        box-shadow: inset 0px 0px 8px rgba(37, 37, 37, 1), 0 0 15px rgba(37, 37, 37, 1);
        /* backdrop-filter: blur(10px);
        filter: blur(3px);
        transition: 0.3s ease-in-out; */
}

/* To hold textbox and image together */
.container{
    position: relative;
}

/* Textboxes of images in the main*/
.text-overlay-main {
    position: absolute;
    bottom: 15px;
    left:-5px;
    max-width: fit-content;
    background-color: #000;
    color: #fff;
    padding: 10px 5px 10px 20px;
    font-size: 15px;
  }

  /* About me */
#about-me{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    text-align: right;
}


#about-me h2, #work h2, #contact-me h2{
    flex: 0 0 15%;
    padding-right: 1%;
    font-size: 210%;
}

#about-me h3{
    text-align: left;
    margin-left: 1%;
}

/* Work */
#work{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    text-align: right;
}

/* Contact Me */
#contact-me{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    text-align: right;
}

#contact-me-right h3{
    margin: 20px;
}

.image-block{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
}

/* Footer Link Syling Box */
#github-link:link, #github-link:visited {
    background-color: #f44336;
    color: white;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  #github-link:hover, #github-link:active {
    background-color: red;
  }

  /* Helps the contact me section and its elements to go back to flex */
  @media(max-width:1060px){
    #contact-me-right h3{ display: flex; white-space: normal;}
    #github-link:link, #github-link:visited{ height: auto; }
}

/* Transforms the section names from left to top */
    @media (max-width:900px){
    #about-me-right, #work-right, #contact-me-right{ border-left: none; border-top: 5px solid black;}
    #about-me, #work, #contact-me{ flex-direction: column; align-items: center;}
    #about-me h3 { margin: 2%; }
    .small-frame .text-overlay-main h3{ font-size: 14px; }
    
}

/* Navigation Bar Adjustment */
    @media (max-width:768px){
    .header { flex-wrap: wrap;}
    .header nav{ margin-left:0; width: 100%;}
    .header nav ul { display: flex; justify-content: space-between; padding-top: 30px;}
    .header nav ul li{ margin-left: 26px; }
    .header nav ul li:first{ margin-left: 0px; }
    #contact-me-right { flex-wrap: wrap; justify-content: center; padding-top: 30px;}
    
}

